<div class="card program-item" [routerLink]="">
  <div class="program-card-block">
    <img class="background" [src]="'https://www.gude.info/fileadmin/user_upload/products/monitoring/7213-7214/esb7213.png'" alt="placeholder">
    <div class="program-info-block">
      <h5 class="card-title" [title]="DeviceName">
        DeviceName
      </h5>
      <span class="glyphicon glyphicon-ok"></span> Active
      <div>
        <u>2 incidents in 7 days</u>
      </div>
      <hr class="hr-success" />
    </div>
  </div>
  <button class="glyphicon glyphicon-edit" (click)="onEditClick()"></button>
  <button class="glyphicon glyphicon-remove"></button>
</div>