<div class="card program-item" [routerLink]="" >
  <div class="buttons-card col-sm-2">
      <button type="button"class="button button5" (click)="onEditClick()"><span class="glyphicon glyphicon-edit"></span></button>
      <button type="button" class="button button5"><span class="glyphicon glyphicon-remove"></span></button>
  </div>
  <div class="col-sm-10">
  <div class="program-card-block">
    <img class="background" [src]="'https://www.gude.info/fileadmin/user_upload/products/monitoring/7213-7214/esb7213.png'" alt="placeholder">
    <div class="program-info-block">
      <h5 class="card-title" [title]="DeviceName">
        DeviceName
      </h5>
      <span class="glyphicon glyphicon-ok"></span> Active
      <div>
        <u>2 incidents in 7 days</u>
      </div>
      <hr class="hr-success" />
    </div>
  </div>
</div>
</div>