<!--The content below is only a placeholder and can be replaced.-->
<div class="sidenav">
    <a routerLink="/dashboard" >Dashboard</a>
    <a routerLink="/device-type-dashboard">Device type dashboard</a>
    <a routerLink="/add-device" >Add new device</a>
    
  </div>
  
  <!-- Page content -->
  <div class="main">
           
      <router-outlet></router-outlet>
  </div>

<!--  
<button class="btn btn-primary" (click)="openModal(editmodal)" style="margin: 2px; width: 30%;">Edit</button>
      <div class="row"> 
        <app-device-card class="column"></app-device-card>
        <app-device-card class="column"></app-device-card>
      </div>
      
      <ng-template #editmodal>
      <app-add-device-modal></app-add-device-modal>
      </ng-template>
      </div>


-->