<div class="row">
  <h2>Device types</h2>
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-6">
        <button class="btn btn-primary" routerLink="/add-device-type-modal" style="margin: 2px; width: 30%;">Add new device type</button>
    </div>
    <div class="col-md-6">
      <div class="col-md-6 col-md-offset-6">
          <div id="imaginary_container"> 
              <div class="input-group stylish-input-group">
                  <input type="text" class="form-control"  placeholder="Search" >
                  <span class="input-group-addon">
                      <button type="submit">
                          <span class="glyphicon glyphicon-search"></span>
                      </button>  
                  </span>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ime</td>
          <td>Opis</td>
          <td><a routerLink="/edit-device-type-modal">Edit</a></td>
          <td><button class="btn btn-danger" (click)="openModal(deletetype)" style="margin: 2px; width: 30%;">Delete</button></td>
        </tr>
        <tr>
          <td>Ime</td>
          <td>Opis</td>
          <td><a routerLink="/edit-device-type-modal">Edit</a></td>
          <td><button class="btn btn-danger" (click)="openModal(deletetype)" style="margin: 2px; width: 30%;">Delete</button></td>
        </tr>
        <tr>
          <td>Ime</td>
          <td>Opis</td>
          <td><a routerLink="/edit-device-type-modal">Edit</a></td>
          <td><button class="btn btn-danger" (click)="openModal(deletetype)" style="margin: 2px; width: 30%;">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>



  <div class="clearfix"></div>

  <div class="col-md-11">
    <ul class="pagination pull-right">
      <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
    </ul>
  </div>



</div>

<ng-template #deletetype>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Delete device type</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Are you sure you want to delete this item?
      <div class="btn-toolbar">
    <button type="button" class="btn btn-danger" style="float:right;" (click)="modalRef.hide()">Cancel</button>
    <button type="submit" class="btn btn-success" style="float:right;"> Yes</button>
  </div>
  </div>
  </ng-template>